In [106]:
# Created Library 

import panel as pn
pn.extension('plotly')

import plotly.express as px

import plotly

import pandas as pd

import hvplot.pandas

from matplotlib import pyplot as plt

import os

from pathlib import Path

import numpy as np

from bokeh.plotting import figure, show

from bokeh.io import output_notebook

from holoviews import opts

from bokeh.models.formatters import DatetimeTickFormatter

from bokeh.models.formatters import BasicTickFormatter

import holoviews as hv

from holoviews import opts

In [107]:
# All U.S. Carriers Passengers - All Airports

path_1 = Path("bureau_of_transporation_ statistics/all_us_passengers.csv")

us_passengers = pd.read_csv(path_1, header = 1)

us_passengers.sort_index()

# Delta Airlines Passengers - All Airports

path_2 = Path("bureau_of_transporation_ statistics/dal_passengers.csv")

dal_passengers = pd.read_csv(path_2, header = 1)

dal_passengers.sort_index()

# Southwest Airlines Passengers - All Airports

path_3 = Path("bureau_of_transporation_ statistics/luv_passengers.csv")

luv_passengers = pd.read_csv(path_3, header = 1)

luv_passengers.sort_index()

# United Airlines Passengers - All Airports

path_4 = Path("bureau_of_transporation_ statistics/ual_passengers.csv")

ual_passengers = pd.read_csv(path_4, header = 1)

ual_passengers.sort_index()

,Year,Month,DOMESTIC,INTERNATIONAL,TOTAL
0,2002,10,"4,830,714","792,379","5,623,093"
1,2002,11,"4,348,668","712,756","5,061,424"
2,2002,12,"5,069,138","777,458","5,846,596"
3,2002,TOTAL,"57,784,719","9,490,682","67,275,401"
4,2003,1,"4,369,263","732,924","5,102,187"
...,...,...,...,...,...
241,2021,TOTAL,"7,915,624",0,0
242,NaN,NaN,NaN,NaN,NaN
243,Note: All numbers are for scheduled services.,NaN,NaN,NaN,NaN
244,NaN,NaN,NaN,NaN,NaN
245,SOURCE: Bureau of Transportation Statistics T-...,NaN,NaN,NaN,NaN

In [108]:
# Created index

us_passengers.set_index('Year', inplace=True)

# Delta

dal_passengers.set_index('Year', inplace=True)

# Southwest

luv_passengers.set_index('Year', inplace=True)

# United Air

ual_passengers.set_index('Year', inplace=True)

In [109]:
# Located column with value equal to TOTAL

us_passengers_final = us_passengers[us_passengers['Month'] == 'TOTAL']

# Delta

dal_passengers_final = dal_passengers[dal_passengers['Month'] == 'TOTAL']

# Southwest

luv_passengers_final = luv_passengers[luv_passengers['Month'] == 'TOTAL']

# United Air

ual_passengers_final = ual_passengers[ual_passengers['Month'] == 'TOTAL']

In [110]:
def myFunc(data):
    data.loc['2021','TOTAL'] = data.loc['2021','DOMESTIC']
    data.loc['2021','DOMESTIC'] = "0"

In [111]:
# Continued Data Cleaning

myFunc(dal_passengers_final)
myFunc(luv_passengers_final)
myFunc(ual_passengers_final)

D:\ProgramData\Anaconda3\envs\adobo\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
D:\ProgramData\Anaconda3\envs\adobo\lib\site-packages\pandas\core\indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [112]:
# Dropped 

us_passengers_final = us_passengers_final.drop(columns= ['Month', 'DOMESTIC', 'INTERNATIONAL'])

us_passengers_final.reset_index(inplace=True)

# Delta

dal_passengers_final = dal_passengers_final.drop(columns= ['Month', 'DOMESTIC', 'INTERNATIONAL'])

dal_passengers_final.reset_index(inplace=True)

# Southwest 

luv_passengers_final = luv_passengers_final.drop(columns= ['Month', 'DOMESTIC', 'INTERNATIONAL'])

luv_passengers_final.reset_index(inplace=True)

# United

ual_passengers_final = ual_passengers_final.drop(columns= ['Month', 'DOMESTIC', 'INTERNATIONAL'])

ual_passengers_final.reset_index(inplace=True)

In [113]:
# Data Cleaning

# All U.S. Carriers

us_passengers_final['TOTAL'] = us_passengers_final['TOTAL'].str.replace(",","")

us_passengers_final.set_index('Year',inplace=True)

# Delta

dal_passengers_final['TOTAL'] = dal_passengers_final['TOTAL'].str.replace(",","")

dal_passengers_final.set_index('Year',inplace=True)

# Southwest

luv_passengers_final['TOTAL'] = luv_passengers_final['TOTAL'].str.replace(",","")

luv_passengers_final.set_index('Year',inplace=True)

# United

ual_passengers_final['TOTAL'] = ual_passengers_final['TOTAL'].str.replace(",","")

ual_passengers_final.set_index('Year',inplace=True)

In [114]:
# Data Cleaning (Changed dtype)

# All U.S. Carriers

us_passengers_final['TOTAL'] = pd.to_numeric(us_passengers_final['TOTAL'])

# Delta

dal_passengers_final['TOTAL'] = pd.to_numeric(dal_passengers_final['TOTAL'])

# Southwest

luv_passengers_final['TOTAL'] = pd.to_numeric(luv_passengers_final['TOTAL'])

# United

ual_passengers_final['TOTAL'] = pd.to_numeric(ual_passengers_final['TOTAL'])

In [115]:
# All U.S. Carriers Flights - All Airports

path_5 = Path("bureau_of_transporation_ statistics/all_us_flights.csv")

us_flights = pd.read_csv(path_5, header = 1)

us_flights.sort_index()

# Delta Airlines Flights - All Airports

path_6 = Path("bureau_of_transporation_ statistics/dal_flights.csv")

dal_flights = pd.read_csv(path_6, header = 1)

dal_flights.sort_index()

# Southwest Airlines Flights - All Airports

path_7 = Path("bureau_of_transporation_ statistics/luv_flights.csv")

luv_flights = pd.read_csv(path_7, header = 1)

luv_flights.sort_index()

# United Airlines Flights - All Airports

path_8 = Path("bureau_of_transporation_ statistics/ual_flights.csv")

ual_flights = pd.read_csv(path_8, header = 1)

ual_flights.sort_index()

,Year,Month,DOMESTIC,INTERNATIONAL,TOTAL
0,2002,10,"51,504","4,798","56,302"
1,2002,11,"46,067","4,525","50,592"
2,2002,12,"48,260","4,684","52,944"
3,2002,TOTAL,"584,385","55,898","640,283"
4,2003,1,"47,193","4,580","51,773"
...,...,...,...,...,...
241,2021,TOTAL,"73,415",0,0
242,NaN,NaN,NaN,NaN,NaN
243,Note: All numbers are for scheduled services.,NaN,NaN,NaN,NaN
244,NaN,NaN,NaN,NaN,NaN
245,SOURCE: Bureau of Transportation Statistics T-...,NaN,NaN,NaN,NaN

In [116]:
# Created index

us_flights.set_index('Year', inplace=True)

# Delta

dal_flights.set_index('Year', inplace=True)

# Southwest

luv_flights.set_index('Year', inplace=True)

# United Air

ual_flights.set_index('Year', inplace=True)

In [117]:
# Located column with value equal to TOTAL

us_flights_final = us_flights[us_flights['Month'] == 'TOTAL']

# Delta

dal_flights_final = dal_flights[dal_flights['Month'] == 'TOTAL']

# Southwest

luv_flights_final = luv_flights[luv_flights['Month'] == 'TOTAL']

# United Air

ual_flights_final = ual_flights[ual_flights['Month'] == 'TOTAL']

In [118]:
# Continued Data Cleaning

myFunc(dal_flights_final)
myFunc(luv_flights_final)
myFunc(ual_flights_final)

D:\ProgramData\Anaconda3\envs\adobo\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
D:\ProgramData\Anaconda3\envs\adobo\lib\site-packages\pandas\core\indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [119]:
# Dropped column Month 

us_flights_final = us_flights_final.drop(columns= ['Month', 'DOMESTIC', 'INTERNATIONAL'])

us_flights_final.reset_index(inplace=True)

# Delta

dal_flights_final = dal_flights_final.drop(columns= ['Month', 'DOMESTIC', 'INTERNATIONAL'])

dal_flights_final.reset_index(inplace=True)

# Southwest 

luv_flights_final = luv_flights_final.drop(columns= ['Month', 'DOMESTIC', 'INTERNATIONAL'])

luv_flights_final.reset_index(inplace=True)

# United

ual_flights_final = ual_flights_final.drop(columns= ['Month', 'DOMESTIC', 'INTERNATIONAL'])

ual_flights_final.reset_index(inplace=True)

In [120]:
# Data Cleaning

# All U.S. Carriers

us_flights_final['TOTAL'] = us_flights_final['TOTAL'].str.replace(",","")

us_flights_final.set_index('Year',inplace=True)

# Delta

dal_flights_final['TOTAL'] = dal_flights_final['TOTAL'].str.replace(",","")

dal_flights_final.set_index('Year',inplace=True)

# Southwest

luv_flights_final['TOTAL'] = luv_flights_final['TOTAL'].str.replace(",","")

luv_flights_final.set_index('Year',inplace=True)

# United

ual_flights_final['TOTAL'] = ual_flights_final['TOTAL'].str.replace(",","")

ual_flights_final.set_index('Year',inplace=True)

In [121]:
# Data Cleaning (Changed dtype)

# All U.S. Carriers

us_flights_final['TOTAL'] = pd.to_numeric(us_flights_final['TOTAL'])

# Delta

dal_flights_final['TOTAL'] = pd.to_numeric(dal_flights_final['TOTAL'])

# Southwest

luv_flights_final['TOTAL'] = pd.to_numeric(luv_flights_final['TOTAL'])

# United

ual_flights_final['TOTAL'] = pd.to_numeric(ual_flights_final['TOTAL'])

In [122]:
# All U.S. Carriers Passenger-Miles - All Airports

path_9 = Path("bureau_of_transporation_ statistics/all_us_passenger_miles.csv")

us_passenger_miles = pd.read_csv(path_9, header = 1)

us_passenger_miles.sort_index()

# Delta Airlines Passenger-Miles - All Airports

path_10 = Path("bureau_of_transporation_ statistics/dal_passenger_miles.csv")

dal_passenger_miles = pd.read_csv(path_10, header = 1)

dal_passenger_miles.sort_index()

# Southwest Airlines Passenger-Miles - All Airports

path_11 = Path("bureau_of_transporation_ statistics/luv_passenger_miles.csv")

luv_passenger_miles = pd.read_csv(path_11, header = 1)

luv_passenger_miles.sort_index()

# United Airlines Passenger-Miles - All Airports

path_12 = Path("bureau_of_transporation_ statistics/ual_passenger_miles.csv")

ual_passenger_miles = pd.read_csv(path_12, header = 1)

ual_passenger_miles.sort_index()

,Year,Month,DOMESTIC,INTERNATIONAL,TOTAL
0,2002,10,"5,468,552","3,420,170","8,888,722"
1,2002,11,"4,913,182","3,123,800","8,036,981"
2,2002,12,"5,826,271","3,401,489","9,227,760"
3,2002,TOTAL,"66,050,121","40,788,429","106,838,550"
4,2003,1,"5,036,957","3,244,510","8,281,468"
...,...,...,...,...,...
241,2021,TOTAL,"9,706,129",0,0
242,NaN,NaN,NaN,NaN,NaN
243,Note: All numbers are for scheduled services. ...,NaN,NaN,NaN,NaN
244,NaN,NaN,NaN,NaN,NaN
245,SOURCE: Bureau of Transportation Statistics T-...,NaN,NaN,NaN,NaN

In [123]:
# Created index

us_passenger_miles.set_index('Year', inplace=True)

# Delta

dal_passenger_miles.set_index('Year', inplace=True)

# Southwest

luv_passenger_miles.set_index('Year', inplace=True)

# United Air

ual_passenger_miles.set_index('Year', inplace=True)

In [124]:
# Continued Data Cleaning

myFunc(dal_passenger_miles_final)
myFunc(luv_passenger_miles_final)
myFunc(ual_passenger_miles_final)

KeyError: 'DOMESTIC'

In [ ]:
# Located column with value equal to TOTAL

us_passenger_miles_final = us_passenger_miles[us_passenger_miles['Month'] == 'TOTAL']

# Delta

dal_passenger_miles_final = dal_passenger_miles[dal_passenger_miles['Month'] == 'TOTAL']

# Southwest

luv_passenger_miles_final = luv_passenger_miles[luv_passenger_miles['Month'] == 'TOTAL']

# United Air

ual_passenger_miles_final = ual_passenger_miles[ual_passenger_miles['Month'] == 'TOTAL']

In [ ]:
# Dropped column Month 

us_passenger_miles_final = us_passenger_miles_final.drop(columns= ['Month', 'DOMESTIC', 'INTERNATIONAL'])

us_passenger_miles_final.reset_index(inplace=True)

# Delta

dal_passenger_miles_final = dal_passenger_miles_final.drop(columns= ['Month', 'DOMESTIC', 'INTERNATIONAL'])

dal_passenger_miles_final.reset_index(inplace=True)

# Southwest 

luv_passenger_miles_final = luv_passenger_miles_final.drop(columns= ['Month', 'DOMESTIC', 'INTERNATIONAL'])

luv_passenger_miles_final.reset_index(inplace=True)

# United

ual_passenger_miles_final = ual_passenger_miles_final.drop(columns= ['Month', 'DOMESTIC', 'INTERNATIONAL'])

ual_passenger_miles_final.reset_index(inplace=True)

In [ ]:
# Data Cleaning

# All U.S. Carriers

us_passenger_miles_final['TOTAL'] = us_passenger_miles_final['TOTAL'].str.replace(",","")

us_passenger_miles_final.set_index('Year',inplace=True)

# Delta

dal_passenger_miles_final['TOTAL'] = dal_passenger_miles_final['TOTAL'].str.replace(",","")

dal_passenger_miles_final.set_index('Year',inplace=True)

# Southwest

luv_passenger_miles_final['TOTAL'] = luv_passenger_miles_final['TOTAL'].str.replace(",","")

luv_passenger_miles_final.set_index('Year',inplace=True)

# United

ual_passenger_miles_final['TOTAL'] = ual_passenger_miles_final['TOTAL'].str.replace(",","")

ual_passenger_miles_final.set_index('Year',inplace=True)

In [ ]:
# Data Cleaning (Changed dtype)

# All U.S. Carriers

us_passenger_miles_final['TOTAL'] = pd.to_numeric(us_passenger_miles_final['TOTAL'])

# Delta

dal_passenger_miles_final['TOTAL'] = pd.to_numeric(dal_passenger_miles_final['TOTAL'])

# Southwest

luv_passenger_miles_final['TOTAL'] = pd.to_numeric(luv_passenger_miles_final['TOTAL'])

# United

ual_passenger_miles_final['TOTAL'] = pd.to_numeric(ual_passenger_miles_final['TOTAL'])

In [ ]:
# All U.S. Carriers Seat-Miles - All Airports

path_13 = Path("bureau_of_transporation_ statistics/all_us_seat_miles.csv")

us_seat_miles = pd.read_csv(path_13, header = 1)

us_seat_miles.sort_index()

# Delta Airlines Passenger-Miles - All Airports

path_14 = Path("bureau_of_transporation_ statistics/dal_seat_miles.csv")

dal_seat_miles = pd.read_csv(path_14, header = 1)

dal_seat_miles.sort_index()

# Southwest Airlines Passenger-Miles - All Airports

path_15 = Path("bureau_of_transporation_ statistics/luv_seat_miles.csv")

luv_seat_miles = pd.read_csv(path_15, header = 1)

luv_seat_miles.sort_index()

# United Airlines Passenger-Miles - All Airports

path_16 = Path("bureau_of_transporation_ statistics/ual_seat_miles.csv")

ual_seat_miles = pd.read_csv(path_16, header = 1)

ual_seat_miles.sort_index()

In [ ]:
# Created index

us_seat_miles.set_index('Year', inplace=True)

# Delta

dal_seat_miles.set_index('Year', inplace=True)

# Southwest

luv_seat_miles.set_index('Year', inplace=True)

# United Air

ual_seat_miles.set_index('Year', inplace=True)

In [ ]:
# Located column with value equal to TOTAL

us_seat_miles_final = us_seat_miles[us_seat_miles['Month'] == 'TOTAL']

# Delta

dal_seat_miles_final = dal_seat_miles[dal_seat_miles['Month'] == 'TOTAL']

# Southwest

luv_seat_miles_final = luv_seat_miles[luv_seat_miles['Month'] == 'TOTAL']

# United Air

ual_seat_miles_final = ual_seat_miles[ual_seat_miles['Month'] == 'TOTAL']

In [ ]:
# Continued Data Cleaning

myFunc(dal_seat_miles_final)
myFunc(luv_seat_miles_final)
myFunc(ual_seat_miles_final)

In [ ]:
# Dropped column Month 

us_seat_miles_final = us_seat_miles_final.drop(columns= ['Month', 'DOMESTIC', 'INTERNATIONAL'])

us_seat_miles_final.reset_index(inplace=True)

# Delta

dal_seat_miles_final = dal_seat_miles_final.drop(columns= ['Month', 'DOMESTIC', 'INTERNATIONAL'])

dal_seat_miles_final.reset_index(inplace=True)

# Southwest 

luv_seat_miles_final = luv_seat_miles_final.drop(columns= ['Month', 'DOMESTIC', 'INTERNATIONAL'])

luv_seat_miles_final.reset_index(inplace=True)

# United

ual_seat_miles_final = ual_seat_miles_final.drop(columns= ['Month', 'DOMESTIC', 'INTERNATIONAL'])

ual_seat_miles_final.reset_index(inplace=True)

In [ ]:
# Data Cleaning

# All U.S. Carriers

us_seat_miles_final['TOTAL'] = us_seat_miles_final['TOTAL'].str.replace(",","")

us_seat_miles_final.set_index('Year',inplace=True)

# Delta

dal_seat_miles_final['TOTAL'] = dal_seat_miles_final['TOTAL'].str.replace(",","")

dal_seat_miles_final.set_index('Year',inplace=True)

# Southwest

luv_seat_miles_final['TOTAL'] = luv_seat_miles_final['TOTAL'].str.replace(",","")

luv_seat_miles_final.set_index('Year',inplace=True)

# United

ual_seat_miles_final['TOTAL'] = ual_seat_miles_final['TOTAL'].str.replace(",","")

ual_seat_miles_final.set_index('Year',inplace=True)

In [ ]:
# Data Cleaning (Changed dtype)

# All U.S. Carriers

us_seat_miles_final['TOTAL'] = pd.to_numeric(us_seat_miles_final['TOTAL'])

# Delta

dal_seat_miles_final['TOTAL'] = pd.to_numeric(dal_seat_miles_final['TOTAL'])

# Southwest

luv_seat_miles_final['TOTAL'] = pd.to_numeric(luv_seat_miles_final['TOTAL'])

# United

ual_seat_miles_final['TOTAL'] = pd.to_numeric(ual_seat_miles_final['TOTAL'])

In [ ]:
# All U.S. Carriers Seat-Miles - All Airports

path_17 = Path("bureau_of_transporation_ statistics/all_us_load.csv")

us_load = pd.read_csv(path_17, header = 1)

us_load.sort_index()

# Delta Airlines Passenger-Miles - All Airports

path_18 = Path("bureau_of_transporation_ statistics/dal_load.csv")

dal_load = pd.read_csv(path_18, header = 1)

dal_load.sort_index()

# Southwest Airlines Passenger-Miles - All Airports

path_19 = Path("bureau_of_transporation_ statistics/luv_load.csv")

luv_load = pd.read_csv(path_19, header = 1)

luv_load.sort_index()

# United Airlines Passenger-Miles - All Airports

path_20 = Path("bureau_of_transporation_ statistics/ual_load.csv")

ual_load = pd.read_csv(path_20, header = 1)

ual_load.sort_index()

In [ ]:
# Created index

us_load.set_index('Year', inplace=True)

# Delta

dal_load.set_index('Year', inplace=True)

# Southwest

luv_load.set_index('Year', inplace=True)

# United Air

ual_load.set_index('Year', inplace=True)

In [ ]:
# Located column with value equal to TOTAL

us_load_final = us_load[us_load['Month'] == 'TOTAL']

# Delta

dal_load_final = dal_load[dal_load['Month'] == 'TOTAL']

# Southwest

luv_load_final = luv_load[luv_load['Month'] == 'TOTAL']

# United Air

ual_load_final = ual_load[ual_load['Month'] == 'TOTAL']

In [ ]:
# Dropped columns

us_load_final = us_load_final.drop(columns= ['Month', 'DOMESTIC', 'INTERNATIONAL'])

us_load_final

# Delta

dal_load_final = dal_load_final.drop(columns= ['Month', 'DOMESTIC', 'INTERNATIONAL'])

dal_load_final

# Southwest 

luv_load_final = luv_load_final.drop(columns= ['Month', 'DOMESTIC', 'INTERNATIONAL'])

luv_load_final

# United

ual_load_final = ual_load_final.drop(columns= ['Month', 'DOMESTIC', 'INTERNATIONAL'])

ual_load_final

In [ ]:
# Saved the dataframe as a csv file to Data folder

us_passengers_final.to_csv("Data/us_passengers_final.csv")
us_flights_final.to_csv("Data/us_flights_final.csv")
us_passenger_miles_final.to_csv("Data/us_passenger_miles_final.csv")
us_seat_miles_final.to_csv("Data/us_seat_miles_final.csv")
us_load_final.to_csv("Data/us_load_final.csv")

dal_passengers_final.to_csv("Data/dal_passengers_final.csv")
dal_flights_final.to_csv("Data/dal_flights_final.csv")
dal_passenger_miles_final.to_csv("Data/dal_passenger_miles_final.csv")
dal_seat_miles_final.to_csv("Data/dal_seat_miles_final.csv")
dal_load_final.to_csv("Data/dal_load_final.csv")

luv_passengers_final.to_csv("Data/luv_passengers_final.csv")
luv_flights_final.to_csv("Data/luv_flights_final.csv")
luv_passenger_miles_final.to_csv("Data/luv_passenger_miles_final.csv")
luv_seat_miles_final.to_csv("Data/luv_seat_miles_final.csv")
luv_load_final.to_csv("Data/luv_load_final.csv")

ual_passengers_final.to_csv("Data/ual_passengers_final.csv")
ual_flights_final.to_csv("Data/ual_flights_final.csv")
ual_passenger_miles_final.to_csv("Data/ual_passenger_miles_final.csv")
ual_seat_miles_final.to_csv("Data/ual_seat_miles_final.csv")
ual_load_final.to_csv("Data/ual_load_final.csv")

In [ ]:
# HVPLOT for PANEL


# us_passengers_final.hvplot.bar(label="All U.S. Carriers - All Airports", ylabel = "Number of Passengers", width=900,height=500).opts(yformatter="%.0f")
# us_flights_final.hvplot.bar(label="All U.S. Carriers Flights - All Airports", ylabel = "Number of Flights", width=900,height=500).opts(yformatter="%.0f")
# us_passenger_miles_final.hvplot.bar(label="All U.S. Carriers Revenue Passenger-Miles - All Airports", ylabel = "(The number of passengers and the distance flown in thousands (000))", width=900,height=500).opts(yformatter="%.0f")
# us_seat_miles_final.hvplot.bar(label="All U.S. Carriers Available Seat-Miles - All Airports", ylabel = "Available Seat-miles (the number of seats and the distance flown in thousands (000))", width=900,height=500).opts(yformatter="%.0f")
# us_load_final.hvplot.bar(label="All U.S. Carriers Load Factor - All Airports", ylabel = "(passenger-miles as a proportion of available seat-miles in percent (%))", width=900,height=500).opts(yformatter="%.0f")



# dal_passengers_final.hvplot.bar(label="Delta Airlines - All Airports", ylabel = "Number of Passengers", width=900,height=500).opts(yformatter="%.0f")
# dal_flights_final.hvplot.bar(label="Delta Airlines Flights - All Airports", ylabel = "Number of Flights", width=900,height=500).opts(yformatter="%.0f")
# dal_passenger_miles_final.hvplot.bar(label="Delta Airlines Revenue Passenger-Miles - All Airports", ylabel = "(The number of passengers and the distance flown in thousands (000))", width=900,height=500).opts(yformatter="%.0f")
# dal_seat_miles_final.hvplot.bar(label="Delta Airlines Available Seat-Miles - All Airports", ylabel = "Available Seat-miles (the number of seats and the distance flown in thousands (000))", width=900,height=500).opts(yformatter="%.0f")
# dal_load_final.hvplot.bar(label="Delta Airlines Load Factor - All Airports", ylabel = "(passenger-miles as a proportion of available seat-miles in percent (%))", width=900,height=500).opts(yformatter="%.0f")



# luv_passengers_final.hvplot.bar(label="Southwest Airlines - All Airports", ylabel = "Number of Passengers", width=900,height=500).opts(yformatter="%.0f")
# luv_flights_final.hvplot.bar(label="Southwest Airlines Flights - All Airports", ylabel = "Number of Flights", width=900,height=500).opts(yformatter="%.0f")
# luv_passenger_miles_final.hvplot.bar(label="Southwest Airlines Revenue Passenger-Miles - All Airports", ylabel = "(The number of passengers and the distance flown in thousands (000))", width=900,height=500).opts(yformatter="%.0f")
# luv_seat_miles_final.hvplot.bar(label="Southwest Airlines Available Seat-Miles - All Airports", ylabel = "Available Seat-miles (the number of seats and the distance flown in thousands (000))", width=900,height=500).opts(yformatter="%.0f")
# luv_load_final.hvplot.bar(label="Southwest Airlines Load Factor - All Airports", ylabel = "(passenger-miles as a proportion of available seat-miles in percent (%))", width=900,height=500).opts(yformatter="%.0f")


# ual_passengers_final.hvplot.bar(label="United Airlines - All Airports", ylabel = "Number of Passengers", width=900,height=500).opts(yformatter="%.0f")
# ual_flights_final.hvplot.bar(label="United Airlines Flights - All Airports", ylabel = "Number of Flights", width=900,height=500).opts(yformatter="%.0f")
# ual_passenger_miles_final.hvplot.bar(label="United Airlines Revenue Passenger-Miles - All Airports", ylabel = "(The number of passengers and the distance flown in thousands (000))", width=900,height=500).opts(yformatter="%.0f")
# ual_seat_miles_final.hvplot.bar(label="United Airlines Available Seat-Miles - All Airports", ylabel = "Available Seat-miles (the number of seats and the distance flown in thousands (000))", width=900,height=500).opts(yformatter="%.0f")
# ual_load_final.hvplot.bar(label="United Airlines Load Factor - All Airports", ylabel = "(passenger-miles as a proportion of available seat-miles in percent (%))", width=900,height=500).opts(yformatter="%.0f")

In [ ]:
# Created a create_bar_chart function

def create_bar_chart(data, title, xlabel, ylabel, color=None, height=500, width=500, rot=60):
    
    from bokeh.models.formatters import BasicTickFormatter

    hv.extension('bokeh')
    if color is None:
      return data.hvplot.bar(
          stacked=False
          , title=title
          , height=height
          , width=width
          , rot=rot
          , xlabel=xlabel
          , ylabel=ylabel
          , yformatter=BasicTickFormatter(use_scientific=False)
      )
    elif (color is not None):
      return data.hvplot.bar(
          stacked=False
          , title=title
          , height=height
          , width=width
          , rot=rot
          , xlabel=xlabel
          , ylabel=ylabel
          , yformatter=BasicTickFormatter(use_scientific=False)
      ).opts(color=color)