In [47]:
# Created Library 

import panel as pn
pn.extension('plotly')

import plotly.express as px

import plotly

import pandas as pd

import hvplot.pandas

from matplotlib import pyplot as plt

import os

from pathlib import Path

import numpy as np

In [48]:
# All U.S. Carriers Passengers - All Airports

path_1 = Path("bureau_ of_transporation_ statistics/all_us_passengers.csv")

us_passengers = pd.read_csv(path_1, header = 1)

us_passengers.sort_index()

# Delta Airlines Passengers - All Airports

path_2 = Path("bureau_ of_transporation_ statistics/dal_passengers.csv")

dal_passengers = pd.read_csv(path_2, header = 1)

dal_passengers.sort_index()

# Southwest Airlines Passengers - All Airports

path_3 = Path("bureau_ of_transporation_ statistics/luv_passengers.csv")

luv_passengers = pd.read_csv(path_3, header = 1)

luv_passengers.sort_index()

# United Airlines Passengers - All Airports

path_4 = Path("bureau_ of_transporation_ statistics/ual_passengers.csv")

ual_passengers = pd.read_csv(path_4, header = 1)

ual_passengers.sort_index()

,Year,Month,DOMESTIC,INTERNATIONAL,TOTAL
0,2002,10,"4,830,714","792,379","5,623,093"
1,2002,11,"4,348,668","712,756","5,061,424"
2,2002,12,"5,069,138","777,458","5,846,596"
3,2002,TOTAL,"57,784,719","9,490,682","67,275,401"
4,2003,1,"4,369,263","732,924","5,102,187"
...,...,...,...,...,...
241,2021,TOTAL,"7,915,624",0,0
242,NaN,NaN,NaN,NaN,NaN
243,Note: All numbers are for scheduled services.,NaN,NaN,NaN,NaN
244,NaN,NaN,NaN,NaN,NaN
245,SOURCE: Bureau of Transportation Statistics T-...,NaN,NaN,NaN,NaN

In [49]:
# Created index

us_passengers.set_index('Year', inplace=True)

# Delta

dal_passengers.set_index('Year', inplace=True)

# Southwest

luv_passengers.set_index('Year', inplace=True)

# United Air

ual_passengers.set_index('Year', inplace=True)

In [50]:
# Located column with value equal to TOTAL

us_passengers_final = us_passengers[us_passengers['Month'] == 'TOTAL']

# Delta

dal_passengers_final = dal_passengers[dal_passengers['Month'] == 'TOTAL']

# Southwest

luv_passengers_final = luv_passengers[luv_passengers['Month'] == 'TOTAL']

# United Air

ual_passengers_final = ual_passengers[ual_passengers['Month'] == 'TOTAL']

In [51]:
# Initialized data

us_passengers_final

      Month     DOMESTIC INTERNATIONAL        TOTAL
Year
2002  TOTAL  551,899,643    60,878,039  612,777,682
2003  TOTAL  583,293,762    60,941,211  644,234,973
2004  TOTAL  629,768,486    70,462,241  700,230,727
2005  TOTAL  657,261,487    77,843,181  735,104,668
2006  TOTAL  658,362,617    82,735,582  741,098,199
2007  TOTAL  679,168,758    87,457,824  766,626,582
2008  TOTAL  651,709,940    88,750,993  740,460,933
2009  TOTAL  618,052,278    83,112,177  701,164,455
2010  TOTAL  629,537,424    88,206,632  717,744,056
2011  TOTAL  638,247,232    90,121,065  728,368,297
2012  TOTAL  642,288,387    92,034,082  734,322,469
2013  TOTAL  645,677,274    95,182,113  740,859,387
2014  TOTAL  662,824,549    98,179,004  761,003,553
2015  TOTAL  696,010,768   100,903,355  796,914,123
2016  TOTAL  719,989,360   102,899,263  822,888,623
2017  TOTAL  741,727,977   107,041,694  848,769,671
2018  TOTAL  777,962,880   110,667,025  888,629,905
2019  TOTAL  811,473,837   114,965,147  926,438,984
2020  TOTAL  334,969,449    34,106,120  369,075,569
2021  TOTAL   88,100,855     8,553,156   96,654,011

In [52]:
dal_passengers_final

      Month     DOMESTIC INTERNATIONAL        TOTAL
Year
2002  TOTAL   83,700,730     7,019,169   90,719,899
2003  TOTAL   77,671,768     6,306,503   83,978,271
2004  TOTAL   79,264,332     7,389,722   86,654,054
2005  TOTAL   77,471,418     8,352,272   85,823,690
2006  TOTAL   63,392,217    10,008,787   73,401,004
2007  TOTAL   61,494,208    11,420,622   72,914,830
2008  TOTAL   59,276,323    12,321,347   71,597,670
2009  TOTAL   55,627,007    12,067,393   67,694,400
2010  TOTAL   89,951,688    19,378,104  109,329,792
2011  TOTAL   92,710,952    19,305,310  112,016,262
2012  TOTAL   95,438,871    19,519,241  114,958,112
2013  TOTAL   98,372,322    20,561,599  118,933,921
2014  TOTAL  106,220,106    21,798,229  128,018,335
2015  TOTAL  114,904,010    22,828,442  137,732,452
2016  TOTAL  118,997,547    23,288,473  142,286,020
2017  TOTAL  120,734,881    24,492,781  145,227,662
2018  TOTAL  126,472,812    25,217,431  151,690,243
2019  TOTAL  136,213,593    26,046,521  162,260,114
2020  TOTAL   48,257,878     6,763,850   55,021,728
2021  TOTAL   12,091,287             0            0

In [53]:
luv_passengers_final

      Month     DOMESTIC INTERNATIONAL        TOTAL
Year
2002  TOTAL   72,447,995             0   72,447,995
2003  TOTAL   74,719,340             0   74,719,340
2004  TOTAL   81,066,038             0   81,066,038
2005  TOTAL   88,379,900             0   88,379,900
2006  TOTAL   96,276,907             0   96,276,907
2007  TOTAL  101,910,809             0  101,910,809
2008  TOTAL  101,920,598             0  101,920,598
2009  TOTAL  101,338,228             0  101,338,228
2010  TOTAL  106,227,521             0  106,227,521
2011  TOTAL  110,586,815             0  110,586,815
2012  TOTAL  112,234,074             0  112,234,074
2013  TOTAL  115,322,785             0  115,322,785
2014  TOTAL  126,694,783       499,767  127,194,550
2015  TOTAL  142,407,578     2,167,028  144,574,606
2016  TOTAL  148,820,598     2,919,679  151,740,277
2017  TOTAL  153,809,012     3,867,925  157,676,937
2018  TOTAL  159,044,969     4,560,630  163,605,599
2019  TOTAL  158,418,529     4,262,482  162,681,011
2020  TOTAL   66,599,890     1,185,346   67,785,236
2021  TOTAL   17,591,788             0            0

In [54]:
ual_passengers_final

      Month    DOMESTIC INTERNATIONAL        TOTAL
Year
2002  TOTAL  57,784,719     9,490,682   67,275,401
2003  TOTAL  56,300,757     8,525,989   64,826,746
2004  TOTAL  60,068,058     9,467,731   69,535,789
2005  TOTAL  55,153,322    10,329,037   65,482,359
2006  TOTAL  57,208,763    10,768,062   67,976,825
2007  TOTAL  56,399,283    11,008,948   67,408,231
2008  TOTAL  51,661,381    10,621,296   62,282,677
2009  TOTAL  45,570,611     9,501,211   55,071,822
2010  TOTAL  43,306,900     9,725,340   53,032,240
2011  TOTAL  39,528,533    10,090,550   49,619,083
2012  TOTAL  67,533,828    23,960,160   91,493,988
2013  TOTAL  65,113,482    24,164,556   89,278,038
2014  TOTAL  64,668,313    25,203,272   89,871,585
2015  TOTAL  69,178,641    25,712,986   94,891,627
2016  TOTAL  73,780,114    25,989,838   99,769,952
2017  TOTAL  80,434,383    26,603,451  107,037,834
2018  TOTAL  85,896,048    27,258,521  113,154,569
2019  TOTAL  87,472,135    28,740,008  116,212,143
2020  TOTAL  29,981,082     7,863,899   37,844,981
2021  TOTAL   7,915,624             0            0

In [55]:
# Dropped 

us_passengers_final = us_passengers_final.drop(columns= ['Month'])

us_passengers_final.reset_index(inplace=True)

# Delta

dal_passengers_final = dal_passengers_final.drop(columns= ['Month'])

dal_passengers_final.reset_index(inplace=True)

# Southwest 

luv_passengers_final = luv_passengers_final.drop(columns= ['Month'])

luv_passengers_final.reset_index(inplace=True)

# United

ual_passengers_final = ual_passengers_final.drop(columns= ['Month'])

ual_passengers_final.reset_index(inplace=True)

In [56]:
# Data Cleaning

# All U.S. Carriers

us_passengers_final['DOMESTIC'] = us_passengers_final['DOMESTIC'].str.replace(",","")
us_passengers_final['INTERNATIONAL'] = us_passengers_final['INTERNATIONAL'].str.replace(",","")
us_passengers_final['TOTAL'] = us_passengers_final['TOTAL'].str.replace(",","")

us_passengers_final.set_index('Year',inplace=True)

# Delta

dal_passengers_final['DOMESTIC'] = dal_passengers_final['DOMESTIC'].str.replace(",","")
dal_passengers_final['INTERNATIONAL'] = dal_passengers_final['INTERNATIONAL'].str.replace(",","")
dal_passengers_final['TOTAL'] = dal_passengers_final['TOTAL'].str.replace(",","")

dal_passengers_final.set_index('Year',inplace=True)

# Southwest

luv_passengers_final['DOMESTIC'] = luv_passengers_final['DOMESTIC'].str.replace(",","")
luv_passengers_final['INTERNATIONAL'] = luv_passengers_final['INTERNATIONAL'].str.replace(",","")
luv_passengers_final['TOTAL'] = luv_passengers_final['TOTAL'].str.replace(",","")

luv_passengers_final.set_index('Year',inplace=True)

# United

ual_passengers_final['DOMESTIC'] = ual_passengers_final['DOMESTIC'].str.replace(",","")
ual_passengers_final['INTERNATIONAL'] = ual_passengers_final['INTERNATIONAL'].str.replace(",","")
ual_passengers_final['TOTAL'] = ual_passengers_final['TOTAL'].str.replace(",","")

ual_passengers_final.set_index('Year',inplace=True)

In [57]:
# Data Cleaning (Changed dtype)

# All U.S. Carriers

us_passengers_final['DOMESTIC'] = pd.to_numeric(us_passengers_final['DOMESTIC'])
us_passengers_final['INTERNATIONAL'] = pd.to_numeric(us_passengers_final['INTERNATIONAL'])
us_passengers_final['TOTAL'] = pd.to_numeric(us_passengers_final['TOTAL'])

# Delta

dal_passengers_final['DOMESTIC'] = pd.to_numeric(dal_passengers_final['DOMESTIC'])
dal_passengers_final['INTERNATIONAL'] = pd.to_numeric(dal_passengers_final['INTERNATIONAL'])
dal_passengers_final['TOTAL'] = pd.to_numeric(dal_passengers_final['TOTAL'])

# Southwest

luv_passengers_final['DOMESTIC'] = pd.to_numeric(luv_passengers_final['DOMESTIC'])
luv_passengers_final['INTERNATIONAL'] = pd.to_numeric(luv_passengers_final['INTERNATIONAL'])
luv_passengers_final['TOTAL'] = pd.to_numeric(luv_passengers_final['TOTAL'])

# United

ual_passengers_final['DOMESTIC'] = pd.to_numeric(ual_passengers_final['DOMESTIC'])
ual_passengers_final['INTERNATIONAL'] = pd.to_numeric(ual_passengers_final['INTERNATIONAL'])
ual_passengers_final['TOTAL'] = pd.to_numeric(ual_passengers_final['TOTAL'])

In [58]:
# All U.S. Carriers Flights - All Airports

path_5 = Path("bureau_ of_transporation_ statistics/all_us_flights.csv")

us_flights = pd.read_csv(path_5, header = 1)

us_flights.sort_index()

# Delta Airlines Flights - All Airports

path_6 = Path("bureau_ of_transporation_ statistics/dal_flights.csv")

dal_flights = pd.read_csv(path_6, header = 1)

dal_flights.sort_index()

# Southwest Airlines Flights - All Airports

path_7 = Path("bureau_ of_transporation_ statistics/luv_flights.csv")

luv_flights = pd.read_csv(path_7, header = 1)

luv_flights.sort_index()

# United Airlines Flights - All Airports

path_8 = Path("bureau_ of_transporation_ statistics/ual_flights.csv")

ual_flights = pd.read_csv(path_8, header = 1)

ual_flights.sort_index()

,Year,Month,DOMESTIC,INTERNATIONAL,TOTAL
0,2002,10,"51,504","4,798","56,302"
1,2002,11,"46,067","4,525","50,592"
2,2002,12,"48,260","4,684","52,944"
3,2002,TOTAL,"584,385","55,898","640,283"
4,2003,1,"47,193","4,580","51,773"
...,...,...,...,...,...
241,2021,TOTAL,"73,415",0,0
242,NaN,NaN,NaN,NaN,NaN
243,Note: All numbers are for scheduled services.,NaN,NaN,NaN,NaN
244,NaN,NaN,NaN,NaN,NaN
245,SOURCE: Bureau of Transportation Statistics T-...,NaN,NaN,NaN,NaN

In [59]:
# Created index

us_flights.set_index('Year', inplace=True)

# Delta

dal_flights.set_index('Year', inplace=True)

# Southwest

luv_flights.set_index('Year', inplace=True)

# United Air

ual_flights.set_index('Year', inplace=True)

In [60]:
# Located column with value equal to TOTAL

us_flights_final = us_flights[us_flights['Month'] == 'TOTAL']

# Delta

dal_flights_final = dal_flights[dal_flights['Month'] == 'TOTAL']

# Southwest

luv_flights_final = luv_flights[luv_flights['Month'] == 'TOTAL']

# United Air

ual_flights_final = ual_flights[ual_flights['Month'] == 'TOTAL']

In [61]:
# Dropped column Month 

us_flights_final = us_flights_final.drop(columns= ['Month'])

us_flights_final.reset_index(inplace=True)

# Delta

dal_flights_final = dal_flights_final.drop(columns= ['Month'])

dal_flights_final.reset_index(inplace=True)

# Southwest 

luv_flights_final = luv_flights_final.drop(columns= ['Month'])

luv_flights_final.reset_index(inplace=True)

# United

ual_flights_final = ual_flights_final.drop(columns= ['Month'])

ual_flights_final.reset_index(inplace=True)

In [62]:
# Data Cleaning

# All U.S. Carriers

us_flights_final['DOMESTIC'] = us_flights_final['DOMESTIC'].str.replace(",","")
us_flights_final['INTERNATIONAL'] = us_flights_final['INTERNATIONAL'].str.replace(",","")
us_flights_final['TOTAL'] = us_flights_final['TOTAL'].str.replace(",","")

us_flights_final.set_index('Year',inplace=True)

# Delta

dal_flights_final['DOMESTIC'] = dal_flights_final['DOMESTIC'].str.replace(",","")
dal_flights_final['INTERNATIONAL'] = dal_flights_final['INTERNATIONAL'].str.replace(",","")
dal_flights_final['TOTAL'] = dal_flights_final['TOTAL'].str.replace(",","")

dal_flights_final.set_index('Year',inplace=True)

# Southwest

luv_flights_final['DOMESTIC'] = luv_flights_final['DOMESTIC'].str.replace(",","")
luv_flights_final['INTERNATIONAL'] = luv_flights_final['INTERNATIONAL'].str.replace(",","")
luv_flights_final['TOTAL'] = luv_flights_final['TOTAL'].str.replace(",","")

luv_flights_final.set_index('Year',inplace=True)

# United

ual_flights_final['DOMESTIC'] = ual_flights_final['DOMESTIC'].str.replace(",","")
ual_flights_final['INTERNATIONAL'] = ual_flights_final['INTERNATIONAL'].str.replace(",","")
ual_flights_final['TOTAL'] = ual_flights_final['TOTAL'].str.replace(",","")

ual_flights_final.set_index('Year',inplace=True)

In [63]:
# Data Cleaning (Changed dtype)

# All U.S. Carriers

us_flights_final['DOMESTIC'] = pd.to_numeric(us_flights_final['DOMESTIC'])
us_flights_final['INTERNATIONAL'] = pd.to_numeric(us_flights_final['INTERNATIONAL'])
us_flights_final['TOTAL'] = pd.to_numeric(us_flights_final['TOTAL'])

# Delta

dal_flights_final['DOMESTIC'] = pd.to_numeric(dal_flights_final['DOMESTIC'])
dal_flights_final['INTERNATIONAL'] = pd.to_numeric(dal_flights_final['INTERNATIONAL'])
dal_flights_final['TOTAL'] = pd.to_numeric(dal_flights_final['TOTAL'])

# Southwest

luv_flights_final['DOMESTIC'] = pd.to_numeric(luv_flights_final['DOMESTIC'])
luv_flights_final['INTERNATIONAL'] = pd.to_numeric(luv_flights_final['INTERNATIONAL'])
luv_flights_final['TOTAL'] = pd.to_numeric(luv_flights_final['TOTAL'])

# United

ual_flights_final['DOMESTIC'] = pd.to_numeric(ual_flights_final['DOMESTIC'])
ual_flights_final['INTERNATIONAL'] = pd.to_numeric(ual_flights_final['INTERNATIONAL'])
ual_flights_final['TOTAL'] = pd.to_numeric(ual_flights_final['TOTAL'])

In [64]:
# All U.S. Carriers Passenger-Miles - All Airports

path_9 = Path("bureau_ of_transporation_ statistics/all_us_passenger_miles.csv")

us_passenger_miles = pd.read_csv(path_9, header = 1)

us_passenger_miles.sort_index()

# Delta Airlines Passenger-Miles - All Airports

path_10 = Path("bureau_ of_transporation_ statistics/dal_passenger_miles.csv")

dal_passenger_miles = pd.read_csv(path_10, header = 1)

dal_passenger_miles.sort_index()

# Southwest Airlines Passenger-Miles - All Airports

path_11 = Path("bureau_ of_transporation_ statistics/luv_passenger_miles.csv")

luv_passenger_miles = pd.read_csv(path_11, header = 1)

luv_passenger_miles.sort_index()

# United Airlines Passenger-Miles - All Airports

path_12 = Path("bureau_ of_transporation_ statistics/ual_passenger_miles.csv")

ual_passenger_miles = pd.read_csv(path_12, header = 1)

ual_passenger_miles.sort_index()

,Year,Month,DOMESTIC,INTERNATIONAL,TOTAL
0,2002,10,"5,468,552","3,420,170","8,888,722"
1,2002,11,"4,913,182","3,123,800","8,036,981"
2,2002,12,"5,826,271","3,401,489","9,227,760"
3,2002,TOTAL,"66,050,121","40,788,429","106,838,550"
4,2003,1,"5,036,957","3,244,510","8,281,468"
...,...,...,...,...,...
241,2021,TOTAL,"9,706,129",0,0
242,NaN,NaN,NaN,NaN,NaN
243,Note: All numbers are for scheduled services. ...,NaN,NaN,NaN,NaN
244,NaN,NaN,NaN,NaN,NaN
245,SOURCE: Bureau of Transportation Statistics T-...,NaN,NaN,NaN,NaN

In [65]:
# Created index

us_passenger_miles.set_index('Year', inplace=True)

# Delta

dal_passenger_miles.set_index('Year', inplace=True)

# Southwest

luv_passenger_miles.set_index('Year', inplace=True)

# United Air

ual_passenger_miles.set_index('Year', inplace=True)

In [66]:
# Located column with value equal to TOTAL

us_passenger_miles_final = us_passenger_miles[us_passenger_miles['Month'] == 'TOTAL']

# Delta

dal_passenger_miles_final = dal_passenger_miles[dal_passenger_miles['Month'] == 'TOTAL']

# Southwest

luv_passenger_miles_final = luv_passenger_miles[luv_passenger_miles['Month'] == 'TOTAL']

# United Air

ual_passenger_miles_final = ual_passenger_miles[ual_passenger_miles['Month'] == 'TOTAL']

In [67]:
# Dropped column Month 

us_passenger_miles_final = us_passenger_miles_final.drop(columns= ['Month'])

us_passenger_miles_final.reset_index(inplace=True)

# Delta

dal_passenger_miles_final = dal_passenger_miles_final.drop(columns= ['Month'])

dal_passenger_miles_final.reset_index(inplace=True)

# Southwest 

luv_passenger_miles_final = luv_passenger_miles_final.drop(columns= ['Month'])

luv_passenger_miles_final.reset_index(inplace=True)

# United

ual_passenger_miles_final = ual_passenger_miles_final.drop(columns= ['Month'])

ual_passenger_miles_final.reset_index(inplace=True)

In [68]:
# Data Cleaning

# All U.S. Carriers

us_passenger_miles_final['DOMESTIC'] = us_passenger_miles_final['DOMESTIC'].str.replace(",","")
us_passenger_miles_final['INTERNATIONAL'] = us_passenger_miles_final['INTERNATIONAL'].str.replace(",","")
us_passenger_miles_final['TOTAL'] = us_passenger_miles_final['TOTAL'].str.replace(",","")

us_passenger_miles_final.set_index('Year',inplace=True)

# Delta

dal_passenger_miles_final['DOMESTIC'] = dal_passenger_miles_final['DOMESTIC'].str.replace(",","")
dal_passenger_miles_final['INTERNATIONAL'] = dal_passenger_miles_final['INTERNATIONAL'].str.replace(",","")
dal_passenger_miles_final['TOTAL'] = dal_passenger_miles_final['TOTAL'].str.replace(",","")

dal_passenger_miles_final.set_index('Year',inplace=True)

# Southwest

luv_passenger_miles_final['DOMESTIC'] = luv_passenger_miles_final['DOMESTIC'].str.replace(",","")
luv_passenger_miles_final['INTERNATIONAL'] = luv_passenger_miles_final['INTERNATIONAL'].str.replace(",","")
luv_passenger_miles_final['TOTAL'] = luv_passenger_miles_final['TOTAL'].str.replace(",","")

luv_passenger_miles_final.set_index('Year',inplace=True)

# United

ual_passenger_miles_final['DOMESTIC'] = ual_passenger_miles_final['DOMESTIC'].str.replace(",","")
ual_passenger_miles_final['INTERNATIONAL'] = ual_passenger_miles_final['INTERNATIONAL'].str.replace(",","")
ual_passenger_miles_final['TOTAL'] = ual_passenger_miles_final['TOTAL'].str.replace(",","")

ual_passenger_miles_final.set_index('Year',inplace=True)

In [69]:
# Data Cleaning (Changed dtype)

# All U.S. Carriers

us_passenger_miles_final['DOMESTIC'] = pd.to_numeric(us_passenger_miles_final['DOMESTIC'])
us_passenger_miles_final['INTERNATIONAL'] = pd.to_numeric(us_passenger_miles_final['INTERNATIONAL'])
us_passenger_miles_final['TOTAL'] = pd.to_numeric(us_passenger_miles_final['TOTAL'])

# Delta

dal_passenger_miles_final['DOMESTIC'] = pd.to_numeric(dal_passenger_miles_final['DOMESTIC'])
dal_passenger_miles_final['INTERNATIONAL'] = pd.to_numeric(dal_passenger_miles_final['INTERNATIONAL'])
dal_passenger_miles_final['TOTAL'] = pd.to_numeric(dal_passenger_miles_final['TOTAL'])

# Southwest

luv_passenger_miles_final['DOMESTIC'] = pd.to_numeric(luv_passenger_miles_final['DOMESTIC'])
luv_passenger_miles_final['INTERNATIONAL'] = pd.to_numeric(luv_passenger_miles_final['INTERNATIONAL'])
luv_passenger_miles_final['TOTAL'] = pd.to_numeric(luv_passenger_miles_final['TOTAL'])

# United

ual_passenger_miles_final['DOMESTIC'] = pd.to_numeric(ual_passenger_miles_final['DOMESTIC'])
ual_passenger_miles_final['INTERNATIONAL'] = pd.to_numeric(ual_passenger_miles_final['INTERNATIONAL'])
ual_passenger_miles_final['TOTAL'] = pd.to_numeric(ual_passenger_miles_final['TOTAL'])

In [70]:
# All U.S. Carriers Seat-Miles - All Airports

path_13 = Path("bureau_ of_transporation_ statistics/all_us_seat_miles.csv")

us_seat_miles = pd.read_csv(path_13, header = 1)

us_seat_miles.sort_index()

# Delta Airlines Passenger-Miles - All Airports

path_14 = Path("bureau_ of_transporation_ statistics/dal_seat_miles.csv")

dal_seat_miles = pd.read_csv(path_14, header = 1)

dal_seat_miles.sort_index()

# Southwest Airlines Passenger-Miles - All Airports

path_15 = Path("bureau_ of_transporation_ statistics/luv_seat_miles.csv")

luv_seat_miles = pd.read_csv(path_15, header = 1)

luv_seat_miles.sort_index()

# United Airlines Passenger-Miles - All Airports

path_16 = Path("bureau_ of_transporation_ statistics/ual_seat_miles.csv")

ual_seat_miles = pd.read_csv(path_16, header = 1)

ual_seat_miles.sort_index()

,Year,Month,DOMESTIC,INTERNATIONAL,TOTAL
0,2002,10,"8,053,702","4,502,478","12,556,180"
1,2002,11,"7,326,292","4,290,445","11,616,737"
2,2002,12,"7,734,611","4,413,386","12,147,997"
3,2002,TOTAL,"92,601,222","52,458,789","145,060,010"
4,2003,1,"7,440,414","4,251,615","11,692,029"
...,...,...,...,...,...
241,2021,TOTAL,"15,141,780",0,0
242,NaN,NaN,NaN,NaN,NaN
243,Note: All numbers are for scheduled services. ...,NaN,NaN,NaN,NaN
244,NaN,NaN,NaN,NaN,NaN
245,SOURCE: Bureau of Transportation Statistics T-...,NaN,NaN,NaN,NaN

In [71]:
# Created index

us_seat_miles.set_index('Year', inplace=True)

# Delta

dal_seat_miles.set_index('Year', inplace=True)

# Southwest

luv_seat_miles.set_index('Year', inplace=True)

# United Air

ual_seat_miles.set_index('Year', inplace=True)

In [72]:
# Located column with value equal to TOTAL

us_seat_miles_final = us_seat_miles[us_seat_miles['Month'] == 'TOTAL']

# Delta

dal_seat_miles_final = dal_seat_miles[dal_seat_miles['Month'] == 'TOTAL']

# Southwest

luv_seat_miles_final = luv_seat_miles[luv_seat_miles['Month'] == 'TOTAL']

# United Air

ual_seat_miles_final = ual_seat_miles[ual_seat_miles['Month'] == 'TOTAL']

In [73]:
# Dropped column Month 

us_seat_miles_final = us_seat_miles_final.drop(columns= ['Month'])

us_seat_miles_final.reset_index(inplace=True)

# Delta

dal_seat_miles_final = dal_seat_miles_final.drop(columns= ['Month'])

dal_seat_miles_final.reset_index(inplace=True)

# Southwest 

luv_seat_miles_final = luv_seat_miles_final.drop(columns= ['Month'])

luv_seat_miles_final.reset_index(inplace=True)

# United

ual_seat_miles_final = ual_seat_miles_final.drop(columns= ['Month'])

ual_seat_miles_final.reset_index(inplace=True)

In [74]:
# Data Cleaning

# All U.S. Carriers

us_seat_miles_final['DOMESTIC'] = us_seat_miles_final['DOMESTIC'].str.replace(",","")
us_seat_miles_final['INTERNATIONAL'] = us_seat_miles_final['INTERNATIONAL'].str.replace(",","")
us_seat_miles_final['TOTAL'] = us_seat_miles_final['TOTAL'].str.replace(",","")

us_seat_miles_final.set_index('Year',inplace=True)

# Delta

dal_seat_miles_final['DOMESTIC'] = dal_seat_miles_final['DOMESTIC'].str.replace(",","")
dal_seat_miles_final['INTERNATIONAL'] = dal_seat_miles_final['INTERNATIONAL'].str.replace(",","")
dal_seat_miles_final['TOTAL'] = dal_seat_miles_final['TOTAL'].str.replace(",","")

dal_seat_miles_final.set_index('Year',inplace=True)

# Southwest

luv_seat_miles_final['DOMESTIC'] = luv_seat_miles_final['DOMESTIC'].str.replace(",","")
luv_seat_miles_final['INTERNATIONAL'] = luv_seat_miles_final['INTERNATIONAL'].str.replace(",","")
luv_seat_miles_final['TOTAL'] = luv_seat_miles_final['TOTAL'].str.replace(",","")

luv_seat_miles_final.set_index('Year',inplace=True)

# United

ual_seat_miles_final['DOMESTIC'] = ual_seat_miles_final['DOMESTIC'].str.replace(",","")
ual_seat_miles_final['INTERNATIONAL'] = ual_seat_miles_final['INTERNATIONAL'].str.replace(",","")
ual_seat_miles_final['TOTAL'] = ual_seat_miles_final['TOTAL'].str.replace(",","")

ual_seat_miles_final.set_index('Year',inplace=True)

In [75]:
# Data Cleaning (Changed dtype)

# All U.S. Carriers

us_seat_miles_final['DOMESTIC'] = pd.to_numeric(us_seat_miles_final['DOMESTIC'])
us_seat_miles_final['INTERNATIONAL'] = pd.to_numeric(us_seat_miles_final['INTERNATIONAL'])
us_seat_miles_final['TOTAL'] = pd.to_numeric(us_seat_miles_final['TOTAL'])

# Delta

dal_seat_miles_final['DOMESTIC'] = pd.to_numeric(dal_seat_miles_final['DOMESTIC'])
dal_seat_miles_final['INTERNATIONAL'] = pd.to_numeric(dal_seat_miles_final['INTERNATIONAL'])
dal_seat_miles_final['TOTAL'] = pd.to_numeric(dal_seat_miles_final['TOTAL'])

# Southwest

luv_seat_miles_final['DOMESTIC'] = pd.to_numeric(luv_seat_miles_final['DOMESTIC'])
luv_seat_miles_final['INTERNATIONAL'] = pd.to_numeric(luv_seat_miles_final['INTERNATIONAL'])
luv_seat_miles_final['TOTAL'] = pd.to_numeric(luv_seat_miles_final['TOTAL'])

# United

ual_seat_miles_final['DOMESTIC'] = pd.to_numeric(ual_seat_miles_final['DOMESTIC'])
ual_seat_miles_final['INTERNATIONAL'] = pd.to_numeric(ual_seat_miles_final['INTERNATIONAL'])
ual_seat_miles_final['TOTAL'] = pd.to_numeric(ual_seat_miles_final['TOTAL'])

In [76]:
# HVPLOT for PANEL

# us_passengers_final.hvplot.line(label="All U.S. Carriers - All Airports", ylabel = "Number of Passengers", width=900,height=500).opts(yformatter="%.0f")
# us_flights_final.hvplot.line(label="All U.S. Carriers Flights - All Airports", ylabel = "Number of Flights", width=900,height=500).opts(yformatter="%.0f")
# us_passenger_miles_final.hvplot.line(label="All U.S. Carriers Revenue Passenger-Miles - All Airports", ylabel = "(The number of passengers and the distance flown in thousands (000))", width=900,height=500).opts(yformatter="%.0f")
# us_seat_miles_final.hvplot.line(label="All U.S. Carriers Available Seat-Miles - All Airports", ylabel = "Available Seat-miles (the number of seats and the distance flown in thousands (000))", width=900,height=500).opts(yformatter="%.0f")



# dal_passengers_final.hvplot.line(label="Delta Airlines - All Airports", ylabel = "Number of Passengers", width=900,height=500).opts(yformatter="%.0f")
# dal_flights_final.hvplot.line(label="Delta Airlines Flights - All Airports", ylabel = "Number of Flights", width=900,height=500).opts(yformatter="%.0f")
# dal_passenger_miles_final.hvplot.line(label="Delta Airlines Revenue Passenger-Miles - All Airports", ylabel = "(The number of passengers and the distance flown in thousands (000))", width=900,height=500).opts(yformatter="%.0f")
# dal_seat_miles_final.hvplot.line(label="Delta Airlines Available Seat-Miles - All Airports", ylabel = "Available Seat-miles (the number of seats and the distance flown in thousands (000))", width=900,height=500).opts(yformatter="%.0f")



# luv_passengers_final.hvplot.line(label="Southwest Airlines - All Airports", ylabel = "Number of Passengers", width=900,height=500).opts(yformatter="%.0f")
# luv_flights_final.hvplot.line(label="Southwest Airlines Flights - All Airports", ylabel = "Number of Flights", width=900,height=500).opts(yformatter="%.0f")
# luv_passenger_miles_final.hvplot.line(label="Southwest Airlines Revenue Passenger-Miles - All Airports", ylabel = "(The number of passengers and the distance flown in thousands (000))", width=900,height=500).opts(yformatter="%.0f")
# luv_seat_miles_final.hvplot.line(label="Southwest Airlines Available Seat-Miles - All Airports", ylabel = "Available Seat-miles (the number of seats and the distance flown in thousands (000))", width=900,height=500).opts(yformatter="%.0f")


# ual_passengers_final.hvplot.line(label="United Airlines - All Airports", ylabel = "Number of Passengers", width=900,height=500).opts(yformatter="%.0f")
# ual_flights_final.hvplot.line(label="United Airlines Flights - All Airports", ylabel = "Number of Flights", width=900,height=500).opts(yformatter="%.0f")
# ual_passenger_miles_final.hvplot.line(label="United Airlines Revenue Passenger-Miles - All Airports", ylabel = "(The number of passengers and the distance flown in thousands (000))", width=900,height=500).opts(yformatter="%.0f")
# ual_seat_miles_final.hvplot.line(label="United Airlines Available Seat-Miles - All Airports", ylabel = "Available Seat-miles (the number of seats and the distance flown in thousands (000))", width=900,height=500).opts(yformatter="%.0f")